.tag {
  display: inline-flex;
  align-items: center;

  padding: 8px 16px;

  font-size: 13px;
  letter-spacing: 0.02em;
  color: var(--color-neutral-800);

  border: 1px solid var(--color-divider);
  border-radius: 6px;
}
